doctype html
html(lang="zh-CN")
    head
        title="临床基因检测平台"
        meta(charset="UTF-8")
        meta(name="author" content="DC")
        meta(name="description" content="Clinical Genetic Diagnosis Platform")

        link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")


    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="/")
                img(src="/images/hp_zh_cn_gray.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent")
                span(class="navbar-toggle-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" href="#") Home
                    li(class="nav-item")
                        a(class="nav-link" href="/geneticdiagnosis/patientInfo") PatientInfo
                    li(class="nav-item")
                        a(class="nav-link" href="/geneticdiagnosis/diagnosisInfo") DiagnosisInfo
                    li(class="nav-item")
                        a(class="nav-link" href="#Report") Repoort
                button(type="button" class="btn btn-outline-primary  my-2 my-lg-0 mr-5" data-toggle="modal" data-target="#signinModal") Sign in/Sign up
            div(id="signinModal" class="modal fade" tabindex="-1" role="dialog")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Sign in/Sign up
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span &times;
                        div(class="modal-body")
                            form
                                div(class="form-group")
                                    label(class="col-form-label") User:
                                    input(id="username" type="text" class="form-control")
                                div(class="form-group")
                                    label(class="col-form-label") Password:
                                    input(id="password" type="password" class="form-control")
                        div(class="modal-footer")
                            button(type="button" class="btn btn-outline-primary") Sign in
                            button(type="button" class="btn btn-outline-primary") Sign up

        div(class="container mt-5")
            div(class="row mt-2")
                div(id="carouselIndicators" class="carousel slide ml-5" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#carouselIndicators" data-slide-to="0" class="active")
                        li(data-target="#carouselIndicators" data-slide-to="1")
                        li(data-target="#carouselIndicators" data-slide-to="2")
                    div(class="carousel-inner")
                        div(class="carousel-item active")
                            img(class="d-block w-100" src="/images/1.jpg" alt="First slide")
                            div(class="carousel-caption d-none d-md-block")
                                h3 First slide
                                p 解读人类基因的秘密
                        div(class="carousel-item")
                            img(class="d-block w-100" src="/images/2.jpg" alt="Second slide")
                            div(class="carousel-caption d-none d-md-block")
                                h3 Second slide
                                p 解读人类基因的秘密
                        div(class="carousel-item")
                            img(class="d-block w-100" src="/images/6.jpg" alt="Third slide")
                            div(class="carousel-caption d-none d-md-block")
                                h3 Third slide
                                p 个性化健康服务
                    a(class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                    a(class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")



         script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js")
         script(type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
         script(type="text/javascript" src="/javascripts/bootstrap.min.js")

    footer(class="bg-light")
        div(class="container mt-5 ")
            div(class="row")
                div(class="col-md")
                    h5 Main page
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") Examples
                        li
                            a(class="text-muted" href="#") What is gene
                        li
                            a(class="text-muted" href="#") How to get report
                div(class="col-md")
                    h5 About CGDP
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") News
                        li
                            a(class="text-muted" href="#") Privacy protection
                        li
                            a(class="text-muted" href="#") Service
                div(class="col-md")
                    h5 Help
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") About the genetic disanosis
                        li
                            a(class="text-muted" href="#") Report Interpretation
                        li
                            a(class="text-muted" href="#") Community
            div(class="row")
                small(class="d-block mb-3 text-muted") @2017-2018 Clinical Genetic Diagnosis Platform
                small(class="d-block mb-3 text-muted") All Rights Reserved

