doctype html
html(lang="zh-CN")
    head
        title="临床基因检测平台"
        meta(charset="UTF-8")
        meta(name="author" content="DC")
        meta(name="description" content="Clinical Genetic Diagnosis Platform")

        link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="//code.z01.com/v4/dist/css/zico.min.css")
        style.
            #navbarSupportedContent li a img { width: 40px; height: 40px; }
            #navbarSupportedContent li a span{ font-size: 26px; }
            .modal-dialog{ max-width:1280px; width: 1280px; }
            .modal-body{ font-size: 15px; }
            #tips{ font-size: 5px; }



    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light" style="height:80px;")
            a(class="navbar-brand" href="/")
                img(src="/images/hp_zh_cn_gray.png")
                //span 临床基因检测平台
            button(class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent")
                span(class="navbar-toggle-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto ml-5")
                    //li(class="nav-item ")
                        a(class="nav-link" href="/geneticdiagnosis")
                            span(style="font-size: 20px;") 临床基因检测平台
                    li(class="nav-item active ml-5")
                        a(class="nav-link" href="#")
                            img(src="/images/form.png")
                            span(class="ml-2") PatientInfo
                    li(class="nav-item ml-5")
                        a(class="nav-link" href="/geneticdiagnosis/diagnosisInfo")
                            img(src="/images/report.png")
                            span( class="ml-2") Repoort
                    li(class="nav-item ml-5")
                        a(class="nav-link" href="#Report")
                            img(src="/images/search.png")
                            span(class="ml-2") search
                button(type="button" class="btn btn-outline-primary  my-2 my-lg-0 mr-5" data-toggle="modal" data-target="#signinModal") Login
            div(id="signinModal" class="modal fade" tabindex="-1" role="dialog")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Login
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span &times;
                        div(class="modal-body")
                            form
                                div(class="form-group")
                                    label(class="col-form-label") User:
                                    input(id="username" type="text" class="form-control")
                                div(class="form-group")
                                    label(class="col-form-label") Password:
                                    input(id="password" type="password" class="form-control")
                        div(class="modal-footer")
                            button(type="button" class="btn btn-outline-primary") Sign in
                            button(type="button" class="btn btn-outline-primary") Sign up

        div(class="slide_menu")
        div(class="container" style="margin-top: 100px;")
            div(class="row")
                div(class="col-md-3 bg-light")
                    div(class="card")
                        img(class="card-img-top" src="/images/biao1.png" style="height: 350px;")
                    div(class="card-body")
                        h5(class="card-title") 遗传学检测申请单（NGS）
                        h6(class="card-subtitle mb-2  text-muted") 全外显子组捕获与NGS
                        a(class="btn btn-outline-primary mt-4" data-toggle="modal" data-target="#patientInfoModal1") 登记
                div(class="col-md-1")
                div(class="col-md-3 bg-light")
                    div(class="card")
                        img(class="card-img-top" src="/images/biao1.png" style="height: 350px;")
                    div(class="card-body")
                        h5(class="card-title") 遗传学检测申请单（NGS）
                        h6(class="card-subtitle mb-2  text-muted") 全外显子组捕获与NGS
                        a(class="btn btn-outline-primary mt-4" data-toggle="modal" data-target="#patientInfoModal2") 登记
                div(class="col-md-1")
                div(class="col-md-3 bg-light")
                    div(class="card")
                        img(class="card-img-top" src="/images/biao1.png" style="height: 350px;")
                    div(class="card-body")
                        h5(class="card-title") 遗传学检测申请单（NGS）
                        h6(class="card-subtitle mb-2  text-muted") 全外显子组捕获与NGS
                        a(class="btn btn-outline-primary mt-4" data-toggle="modal" data-target="#patientInfoModal3") 登记
                div(class="col-md-1")

        div(id="models")
            div(id="patientInfoModal1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") 遗传学检测申请表（WES）
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span &times;
                        div(class="modal-body")
                            h5(class="text-muted text-center") 全外显子组捕获与NGS
                            form
                                div(id="first_part")
                                    b 基本信息
                                    div(class="form-row")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label") 姓&nbsp &nbsp名:
                                            div
                                                input(type="text" class="form-control" placeholder="姓名")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label") 性&nbsp &nbsp别:
                                            label(class="col-form-label")
                                                input(type="radio")
                                                span 男 &nbsp &nbsp &nbsp
                                            label(class="col-form-label")
                                                input(type="radio")
                                                span 女
                                        div(class="form-group col-md row")
                                            label(class="col-md-4 col-form-label") 出生日期:
                                            div
                                                input(type="date" class="form-control" placeholder="出生日期")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label") 住院号:
                                            div
                                                input(type="text" class="form-control" placeholder="住院号")
                                    div(class="form-row")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label") 采&nbsp &nbsp集:
                                            div
                                                input(type="text" class="form-control" placeholder="父亲姓名")
                                                input(type="text" class="form-control" placeholder="母亲姓名")
                                        div(class="form-group col-md row")
                                            label(class="col-md-4 col-form-label") 样本类型:
                                            div
                                                label(class="col-form-label")
                                                    input(type="checkbox")
                                                    span 外周血(EDTA)
                                                input(type="text" class="form-control" placeholder="其他")
                                        div(class="form-group col-md row")
                                            label(class="col-md-4 col-form-label") 民&nbsp&nbsp族:
                                            div
                                                input(type="text" class="form-control" placeholder="民族")
                                            label(class="col-md-4 col-form-label") 联系电话:
                                            div
                                                input(type="text" class="form-control" placeholder="联系电话")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label") 籍  贯:
                                            div
                                                input(type="text" class="form-control" placeholder="籍贯")
                                div(id="second_part" class="mt-2")
                                    div(class="form-row")
                                        div(class="form-group col-md")
                                            label
                                                b 主诉和现病史:
                                            textarea(id="diseaseDescription" class="form-control" rows="8")
                                        div(class="form-group col-md")
                                            label
                                                b 家族史
                                                    span(style="color: #0000CD; font-size: 10px;") （含家系图、心脏病/猝死等重大疾病）：
                                            textarea( class="form-control" rows="8")
                                div(id="third_part" class="mt-2")
                                    b 孕前及围产情况:
                                    div(class="form-row mt-1")
                                        div(class="form-group row col-md")
                                            label(class="col-md-3 col-form-label") 孕 前
                                            div
                                                input(type="text" class="form-control")
                                        div(class="form-group row col-md")
                                            label(class="col-md-3 col-form-label") 产 检
                                            div
                                                input(type="text" class="form-control")
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label")
                                                span(style="color: #0000CD;") TORCH感染
                                            div
                                                input(type="text" class="form-control")
                                        div(class="form-group row col-md")
                                    div(class="form-row")
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 先兆流产
                                            div
                                                input(type="text" class="form-control")
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 是否保胎
                                            div(class="col-md-8")
                                                label(class="col-form-label")
                                                    input(type="checkbox")
                                            label(class="col-md-3 col-form-label") 孕 周:
                                            div
                                                input(type="number" class="form-control" style="width: 165px;")
                                            label(class="col-md-3 col-form-label") 周
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 出生体重:
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") kg
                                            label(class="col-md-4 col-form-label") 身 长 :
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") cm
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 出生评分
                                            div
                                                input(type="number" class="form-control")
                                div(id="forth_part" class="mt-2")
                                    b 母亲妊娠及分娩史:
                                    div(class="form-row mt-1")
                                        div(class="form-group row col-md")
                                            label(class="col-md-3 col-form-label") 妊 娠
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") 次
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 自然流产
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") 次
                                        div(class="form-group row col-md")
                                            label(class="col-md-3 col-form-label") 人 流
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") 次
                                        div(class="form-group row col-md")
                                            label(class="col-md-3 col-form-label") 生 育
                                            div
                                                input(type="number" class="form-control" style="width: 135px;")
                                            label(class="col-md-3 col-form-label") 次
                                    div(class="form-row")
                                        div(class="form-group col-md")
                                            label
                                                span 畸形儿分娩史:
                                            textarea( class="form-control" rows="4")
                                div(id="fifth_part" class="mt-2")
                                    b 一般查体:
                                    div(class="form-row mt-1")
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 身高
                                            div
                                                input(type="number" class="form-control" style="width: 90px;")
                                            label(class="col-md-3 col-form-label") cm
                                        div(class="form-group row col-md")
                                            div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 体重
                                            div
                                                input(type="number" class="form-control" style="width: 90px;")
                                            label(class="col-md-3 col-form-label") kg
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 头围
                                            div
                                                input(type="number" class="form-control" style="width: 90px;")
                                            label(class="col-md-3 col-form-label") cm
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 血压
                                            div
                                                input(type="number" class="form-control" style="width: 70px;")
                                            label(class="col-md-3 col-form-label") mmHg
                                        div(class="form-group row col-md")
                                            label(class="col-md-4 col-form-label") 心率
                                            div
                                                input(type="number" class="form-control" style="width: 70px;")
                                            label(class="col-md-4 col-form-label") 次/分
                                        div(class="form-group row col-md")
                                    div(class="form-row")
                                        div(class="form-group col-md-3")
                                            label 皮肤
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 毛发
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 牙齿
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 囟门
                                            input(type="text" class="form-control")
                                    div(class="form-row")
                                        div(class="form-group col-md-3")
                                            label 神经反射
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 肌力
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 肌张力
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 反应
                                            input(type="text" class="form-control")
                                    div(class="form-row")
                                        div(class="form-group col-md-1")
                                            label 听力左
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-1")
                                            label 听力右
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 视力
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 饮食
                                            input(type="text" class="form-control")
                                        div(class="form-group col-md-3")
                                            label 睡眠
                                            input(type="text" class="form-control")
                                    div(class="form-row")
                                        div(class="form-group col-md")
                                            label
                                                span 其它:
                                            textarea( class="form-control" rows="4")
                                div(id="sixth_part" class="mt-2")
                                    div(class="form-row mt-1")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b(style="color: #0000CD;") 特殊面容:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:450px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 体格及脏器发育:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:450px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 智力发育评估:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:450px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 行为发育评估:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:450px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 运动发育评估:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:450px;")
                                        div(class="form-group col-md row")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 既往病史及治疗:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:400px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 外伤手术史:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:400px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 输血史:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:400px;")
                                            label(class="col-md-3 col-form-label mb-1")
                                                b 其它:
                                            div
                                                input(type="text" class="form-control mb-1" style="width:400px;")
                                div(id="seventh_part" class="mt-2")
                                    b 其他检查结果(包括脑电图、肌电图、影像学、临床生化、激素、细胞因子、病理、染色体等):
                                    div(class="form-row mt-1")
                                        div(class="form-group col-md")
                                            label
                                            textarea( class="form-control" rows="8")
                                div(id="tips")
                                    b 温馨提示:
                                    br
                                    span 1.开单需使用3个代码，分别为:
                                        span(style="color: #FF4500;") QWXZJC(采孩子血)
                                        span
                                            b 、FQYZ(采父亲血)、
                                        span(style="color: #9400D3;") MQYZ(采母亲血)。
                                    br
                                    span 2.
                                        span(style="color: #FF4500;") 请完整、准确、清楚填写受检者信息
                                        span ,并指导受检者或监护人签署“知情同意书”,
                                        span(style="color: #FF4500;") “知情同意书”与标本一起递送。
                                    br
                                    span 3.通常受检者父、母亲标本用于
                                        span(style="color: #FF4500;") 验证受检者检出的可以阳性位点
                                        span ,若要一同检测其全外显子组，需另外挂号、开单、缴费。






                        div(class="modal-footer")
                            button(type="button" class="btn btn-outline-secondary" data-dismiss="modal") 关闭
                            button(type="button" class="btn btn-outline-primary") 录入



        script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js")
        script(type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
        script(type="text/javascript" src="/javascripts/bootstrap.min.js")

    footer(class="bg-light")
        div(class="container mt-5 ")
            div(class="row")
                div(class="col-md")
                    h5 Main page
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") Examples
                        li
                            a(class="text-muted" href="#") What is gene
                        li
                            a(class="text-muted" href="#") How to get report
                div(class="col-md")
                    h5 About CGDP
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") News
                        li
                            a(class="text-muted" href="#") Privacy protection
                        li
                            a(class="text-muted" href="#") Service
                div(class="col-md")
                    h5 Help
                    ul(class="list-unstyled text-small")
                        li
                            a(class="text-muted" href="#") About the genetic disanosis
                        li
                            a(class="text-muted" href="#") Report Interpretation
                        li
                            a(class="text-muted" href="#") Community
            div(class="row")
                small(class="d-block mb-3 text-muted") @2017-2018 Clinical Genetic Diagnosis Platform
                small(class="d-block mb-3 text-muted") All Rights Reserved
