doctype html
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        meta(name='autor' content='DongCong')
        meta(name='viewport' content='with=device-width,intial-scale=1')
        title= title
        link(rel='stylesheet' href='./stylesheets/bootstrap.min.css')
    body
        div(class='container')  container
            div(class='row')
                div(class='col-md-1') .col-md-1
                div(class='col-md-2') .col-md-2
                div(class='col-md-3') .col-md-3
            div(class='row')
                div(class='col-sm') .col-sm
                div(class='col-sm') .col-sm
                div(class='col-sm') .col-sm

        div(class='container-fluid') container-fluid
            div(class='row')
                div(class='col') column
                div(class='col') column
                div(class='w-100')
                div(class='col') column
                div(class='col') column
            div(class='row')
                div(class='col-lg') .col-lg-1
                div(class='col-lg-6') .col-lg-2
                div(class='col-lg') .col-lg-3
            div(class='row')
                div(class='col-12 col-md-8') .col-12.col-md-8
                div(class='col-6 col-md-4') .col-6.col-md-4

        div(class='container-fulid')
            div(class='row align-items-start')
                div(class='col') one of three columns
                div(class='col') one of three columns
                div(class='col') one of three columns
            div(class='row align-items-center')
                div(class='col-md') 上下居中对齐
                div(class='col-md') 上下居中对齐
            div(class='row align-items-end')
                div(class='col-lg') 下边对齐

        div(class='row no-gutters')
            div(class='col-12 col-sm-6 col-md-8') col-12 col-sm-6 col-md-8
            div(class='col-6 col-sm-6 col-md-4') col-6 col-sm-6 col-md-4



        div(class='row')  row
            div(class='col-md-4') .col-md-4
            div(class='col-md-4 offset-md-4') qianyige col-md-4 biaoshichangdu houyigebiaoshi pianyiliang

        div(class='row')
            div(class='col-md-3 offset-md-3')
                span col-md-3 offset-md-3
            div(class='col-md-3 offset-md-3')
                span col-md-3 offset-md-3

        div(class='row')
            div(class='col-md-9')
                div(class='row no-gutters')
                    div(class='col-md-8 col-sm-6') col-md-8 col-sm-6
                    div(class='col-md-4 col-sm-6') col-md-4 col-sm-6

        div(class='row')
            div(class='col-md') 1号空间 未定义序号 位置不变
            div(class='col-md order-12') 2号空间 排最后
            div(class='col-md order-1') 3号空间 排第一但是1号空间不受影响



        div(class='media')
            img(class='mr-3' src='./images/spinner2.gif')
            div(class='media-body')
                h5 Media heading
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                div(class='media')
                    img(src='./images/spinner2.gif')
                    div(class='media-body')
                        h5 media heading
                        span Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        blockquote(class='blockquote text-right')
                            p wojiushililiangdehuashen
                            footer(class='blockquote-footer')
                                cite dabiaoge

        div
            h1 .list-inline 逐行显示   .list-inline-item 单行多列并排  ul和li都能用
        ul(class='list-inline')
            li(class='list-inline') liebiaozhiyi
            li(class='list-inline') liebiaozhier
        ul(class='list-inline')
            li(class='list-inline-item') liebiaozhisan
            li(class='list-inline-item') liebiaozhisi

        div
            h1 alert警示框
        div(class='alert alert-primary' role='alert')
            span this is a primary alert-check it out!
            //button(type='button' class='close' data-dismiss='alert'  aria-label='Close')

        div
            h1  Badge
            button(type='button' class='btn btn-primary')
                span Notifications
                    span(class='badge badge-light') 4
            span(class='badge badge-pill badge-primary') Primary
            a(href='#' class='badge badge-secondary') Secondary

        div
            h1 Breadcrumb
        nav(aria-label)
            ol(class='breadcrumb')
                li(class='breadcrumb-item')
                    a(href='#') Home
                li(class='breadcrumb-item')
                    a(href='#') Library
                li(class='breadcrumb-item active')
                    a(href='#') Data

        div
            h1 button and button group
            button(type='button' class='btn btn-secondary  btn-lg') button
            a(class='btn btn-success' href='#' role='button') a
            input(type='submit' class='btn btn-danger' value='submit')
            input(type='button' class='btn btn-outline-primary' value='button')
        div
            button(type='button' class='btn btn-outline-info btn-sm') Info
            button(type='button' class='btn btn-outline-warning') Warning
            button(type='submit' class='btn btn-outline-dark btn-lg') Dark

        div(class='btn-group')
            button(type='button' class='btn btn-secondary') Left
            button(type='button' class='btn btn-outline-info') Middle
            butotn(type='button' class='btn btn-outline-warning') Right
        div(class='input-group')
            div(class='input-group-prepend')
                div(class='input-group-text') @
                input(type='text' class='form-control' placeholder='wojiushi')

        div(class='btn-group' role='group')
            button(type='button' class='btn btn-secondary') 1
            button(type='button' class='btn btn-outline-secondary') 2

            div(class='btn-group' role='group')
                button(id='btnGroupDrop1' type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown') Dropdown
                div(class='dropdown-menu' aria-labelledby='btnGroupDrop1')
                    a(class='dropdown-item' href='#') dropdown1
                    a(class='dropdown-item' href='#') dropdown2

        div
            h1 button-group-vertical
        div(class='btn-group-vertical')
            button(type='button' class='btn btn-secondary') 1
            button(type='button' class='btn btn-secondary') 2
            div(class='btn-group' role='group')
                button(type='button' class='btn btn-secondary dropdown-toggle' data-toggle='dropdown') Dropdown
                div(class='dropdown-menu')
                    a(class='dropdown-item') dropdown link
                    a(class='dropdown-item') dropdown link

        div
            h1 card
            div(class='card' style='width: 18rem;')
                img(class='card-img-top' src='./images/spinner2.gif')
                div(class='card-body')
                    h5(class='card-title') card title
                    h6(class='card-subtitle') card subtitle
                    p(class='card-text') some quick exmaple text to build on the card title and make up the bulk of the card's content
                    a(href='#' class='btn btn-outline-primary') Go somewhere
                    a(class='card-link') card link
                    a(class='card-link') card link

        div
            h1 carousell
        div(class='container')
            div(class='row')
                div(class='col-md-8 offset-md-2')
                    div(id='carouselExampleControls' class='carousel slide')
                        div(class='carousel-inner')
                            div(class='carousel-item active')
                                img(class='d-block w-100' src='./images/spinner1.gif' alt='first slide')
                            div(class='carousel-item')
                                img(class='d-block w-100' src='./images/spinner2.gif' alt='second slide')
                            //div(class='carousel-item')
                                img(class='d-block w-100' src='' alt='third slide')
                        a(class='carousel-control-prev' href='#carouselExampleControls')
                            span(class='carousel-control-prev-icon')
                            span(class='sr-only') Previous
                        a(class='carousel-control-next' href='carouselExampleControls')
                            span(class='carousel-control-next-icon')
                            span(class='sr-only') Next


        div
            h1 collapse
            p
                a(class='btn btn-outline-primary' data-toggle='collapse' href='#multiCollapseExample1') Toggle first element
                button(type='button' class='btn btn-outline-info' data-toggle='collapse' data-target='#multiCollapseExample2') Toggle second element
                button(type='button' class='btn btn-outline-secondary' data-toggle='collapse' data-target='.multi-collapse') Toggle both elemtnts
            div(class='row')
                div(class='col')
                    div(class='collapse multi-collapse' id='multiCollapseExample1')
                        div(class='card card-body')
                            span Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                div(class='col')
                    div(class='collapse multi-collapse' id='multiCollapseExample2')
                        div(class='card card-body')
                            span Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

        div
            h1 dropdown
            h5 有时间看看下拉框怎么触发
            div(class='dropdown')
                button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown") Dropdown button
                div(class='dropdown-menu')
                    a(class='dropdown-item') action
                    a(class='dropdown-item') another action
                    a(class='dropdown-item') something else here


        div
            h1 form
            form
                div(class='form-group')
                    label(for='exampleInputEmail') Email
                    input(type='email' class='form-control' placeholder='Enter email')
                    small  we will never share your email with anyone else.
                div(class='form-group')
                    label Password
                    input(type='password' class='form-control-lg' placeholder='Password')
                div(class='form-check')
                    input(type='checkbox' class='form-check-input')
                    label check me out
                div(class='form-group')
                    label Example file input
                    input(type='file' class='form-control-file')
                div(class='form-check')
                    input(type='checkbox' class='form-check-input')
                    label(class='form-check-label') option one is this and that-be sure to include why it is great
                    input(type='checkbox' class='form-check-input')
                    label(class='form-check-label') option two is disabled
                div(class='form-check')
                    input(type='checkbox' class='form-check-input')
                    label(class='form-check-label') option one is this and that-be sure to include why it is great
                div(class='form-check')
                    input(type='checkbox' class='form-check-input' disabled)
                    label(class='form-check-label') option two is disabled

            div(class='form-check')
                input(type='radio' class='form-check-input')
                label(class='form-check-label') option1
            div(class='form-check')
                input(type='radio' class='form-check-input')
                label(class='form-check-label') option2
            div(class='form-check')
                input(type='radio' class='form-check-input' disabled)
                label(class='form-check-label') option3 is disabled

            div(class='form-check form-check-inline')
                input(id='1' type='radio' class='form-check-input')
                label(class='form-check-label' for='1') 1
            div(class='form-check form-check-inline')
                input(type='radio' class='form-check-input' checked)
                label(class='form-check-label') 2
            div(class='form-check form-check-inline')
                input(type='radio' class='form-check-input' disabled)
                label(class='form-check-label') 3 is disabled

            div(class='custom-control custom-checkbox')
                input(id='custom1' type='checkbox' class='custom-control-input')
                label(class='custom-control-label' for) check this custom checkbox

            div(class='custom-control custom-radio')
                input(type='radio' class='custom-control-input')
                label(class='custom-control-label' for) Toggle this custom radio
            div(class='custom-control custom-radio')
                input(type='radio' class='custom-control-input')
                label(class='custom-control-label') or toggle this other custom radio

            div(class='custom-file')
                input(type='file' class='custom-file-input')
                label(class='custom-file-label') Choose file

        form
            div(class='form-row')
                div(class='col-md-4')
                    label Fist name
                    input(type='text' class='form-control is-valid' placeholder='firstname' required)
                    div(class='valid-feedback') looks good!
                div(class='col-md-4')
                    label Last name
                    input(type='text' class='form-control' placeholder='last name' required)
                    div(class='valid-feedback') Looks good!




        h1 input-group
        div(class='form-row')
            div(class='col-md-4 offset-md-2')
                div(class='input-group mb-3')
                    div(class='input-group-prepend')
                        span(class='input-group-text') @
                    input(type='text' class='form-control' placeholder='username')
                div(class='input-group')
                    div(class='input-group-prepend')
                        span(class='input-group-text') https://example.com/users/
                    input(type='text' class='form-control is-valid' placeholder='your url')
                    div(class='input-group-prepend')
                        span(class='input-group-text') addtion part
                div(class='input-group mt-3')
                    input(type='email' class='form-control' placeholder='emailaddress' )
                    div(class='input-group-prepend')
                        button(type='button' class='btn btn-outline-primary') .com

                div(class='input-group mt-3')
                    div(class='input-group-prepend')
                        button(type='button' class='btn btn-outline-primary dropdown-toggle' data-toggle='dropdown') dropdown
                        div(class='dropdown-menu')
                            a(class='dropdown-item') Action
                            a(class='dropdown-item') Another action
                            a(class='dropdown-item') last action
                            div(class='dropdown-divider')
                            a(class='dropdown-item') something here
                    input(type='password' class='form-control')

                div(class='input-group mt-3 ml-3')
                    div(class='input-group-prepend')
                        button(type='button' class='btn btn-outline-primary dropdown-toggle' data-toggle='dropdown') dropdown
                        div(class='dropdown-menu')
                            a(class='dropdown-item') Action
                            a(class='dropdown-item') Another action
                            a(class='dropdown-item') last action
                            div(class='dropdown-divider')
                            a(class='dropdown-item') something here
                    select(class='custom-select')
                        option(selected) Choose
                        option(vaule='1') one
                        option(value='2') two
                        option(value='3') three

                div(class='input-group mt-5')
                    div(class='input-group-prepend')
                        span(class='input-group-text') upload
                    div(class='custom-file')
                        input(type='file' class='custom-file-input')
                        label(class='custom-file-label') Choose file

        h1 Hero大块屏(jumpbotron)
        div(class='container')
            div(class='jumbotron')
                h1(class='display-3') jumpbotron
                p(class='lead') This is a simple hero unit, a simple jumbotron-stylecomponent for calling extra attention to featured content or information
                hr(class='my-4')
                p It uses utility classes for typography and spacing to space content out within the larger container
                p(class='lead')
                    a(class='btn btn-outline-primary btn-lg') Learn more


        h1 list-group
        div(class='form-row')
            div(class='col-md-4 offset-md-3')
                ul(class='list-group')
                    li(class='list-group-item') Cras justo odio
                    li(class='list-group-item active') 对 li
                    li(class='list-group-item disabled') list-group-item-success
                    li(class='list-group-item list-group-item-primary') 组合使用
                    li(class='list-group-item list-group-item-secondary') Cras justo odio
                    li(class='list-group-item list-group-item-success') Cras justo odio

                div(class='list-group mt-3')
                    a(href='#' class='list-group-item list-group-item-action active') list-group-item 必须
                    a(href='#' class='list-group-item list-group-item-action') list-group-item-action
                    a(href='#' class='list-group-item list-group-item-action list-group-item-parimary') list-group-item-primary
                    a(href='#' class='list-group-item list-group-item-info') 对a和button 随意组合
                    a(href='#' class='list-group-item list-group-item-action list-group-item-success') list-group-item-action是针对a和button
                    a(href='#' class='list-group-item list-group-item-action list-group-item-warning') 确保li和div不可以提供点击
                    a(href='#' class='list-group-item list-group-item-action list-group-item-danger') 所以li一般不用

                h5(class='mt-3') 引入badge
                ul(class='list-group')
                    li(class='list-group-item d-flex justify-content-between') 要加入
                        span(class='badge badge-primary badge-pill') 14
                    li(class='list-group-item d-flex align-items-center') .d-flex 和 .justify-content-between
                        span(class='badge badge-success badge-pill') 2
                    li(class='list-group-item d-flex justify-content-between align-items-center') shima
                        span(class='badge badge-info badge-pill') 1

        h1(class='mt-5') 弹出模态框 modal
        button(type='button' class='btn btn-primary' data-toggle='modal' data-target='#examplemodal') modal默认隐藏 需添加按钮
        div(id='examplemodal' class='modal fade' tabindex='-1')
            div(class='modal-dialog modal-dialog-centered')
                div(class='modal-content')
                    div(class='modal-header')
                        h5(class='modal-title') Modal title
                        button(type='button' class='close' data-dismiss='modal')
                            span &times;
                    div(class='modal-body')
                        p Modal body text goes here.
                        p 按钮需要添加 data-toggle='modal' datatarget='#modal_id'
                        p &times 和close关闭modal需要添加data-dismiss='modal'

                        p div(class='modal-dialog')是默认上方显示 div(class='modal-dialog modal-dialog-centered')
                    div(class='modal-footer')
                        button(type='button' class='btn btn-outline-danger' data-dismiss='modal') close
                        button(type='button' class='btn btn-outline-success') save

        h1(class='mt-5') 导航nav
        ul(class='nav nav-tabs')
            li(class='nav-item')
                a(href='#' class='nav-link active') Active
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link disabled') Disabled

        h5 使用.nav-pills
        ul(class='nav nav-pills')
            li(class='nav-item')
                a(href='#' class='nav-link active') Active
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link disabled') Disabled

        h5 .nav-pills .nav-fill
        ul(class='nav nav-pills nav-fill')
            li(class='nav-item')
                a(href='#' class='nav-link active') Active
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link') link
            li(class='nav-item')
                a(href='#' class='nav-link disabled') Disabled

        h5 直接用nav也可以
        nav(class='nav nav-pills nav-fill')
            a(href='#' class='nav-item nav-link active') Active
            a(href='#' class='nav-item nav-link') link
            a(href='#' class='nav-item nav-link') link
            a(hrf='#' class='nav-item nav-link diaabled') Disabled


        h1(class='mt-5') navbar
        nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
            a(href='#' class='navbar-brand') Navbar
            button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
                span(class='navbar-toggler-icon')

            div(class='collapse navbar-collapse' id='navbarSupportedContent')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item active')
                        a(href='#' class='nav-link') Home
                    li(class='nav-item')
                        a(href='#' class='nav-link') link
                    li(class='nav-item')
                        a(href='#' class='nav-link dropdown-toggle' id='navbarDropdown' data-toggle='dropdown') Dropdown
                        div(class='dropdown-menu')
                            a(class='dropdown-item') Action
                            a(class='dropdown-item') Another action
                            div(class='dropdown-divider')
                            a(class='dropdown-item') something else
                    li(class='nav-item')
                        a(href='#' class='nav-link disabled') Disabled

                form(class='form-inline my-2 my-lg-0')
                    input(type='search' class='form-control mr-sm-2' placeholder='search')
                    button(type='submit' class='btn btn-outline-success my-2 my-sm-0') Search


        h1(class='mt-5') 分页pagination
        nav
            ul(class='pagination')
                li(class='page-item')
                    a(href='#' class='page-link') Previous
                li(class='page-item')
                    a(href='#' class='page-link') 1
                li(class='page-item')
                    a(href='#' class='page-link') 2
                li(class='page-item')
                    a(href='#' class='page-link') 3
                li(class='page-item')
                    a(href='#' class='page-link') Next


        h1(class='mt-5') pop提示(popover)
        button(type='button' class='btn btn-success' data-toggle='popover' data-placement='top' title='Popover title' data-content='And here is some amazing content.it is very engaging.right?') Popover on top
        button(type='button' class='btn btn-warning' data-toggle='popover' data-placement='bottom' title='Popover title' data-content='And here is some amazing content.it is very engaging.right?') Popover on bottom
        button(type='button' class='btn btn-danger' data-toggle='popover' data-placement='right' title='Popover title' data-content='And here is some amazing content.it is very engaging.right?') Popover on right

        button(type='button' class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?") 点击体验 popover提示框效果








































        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src='./javascripts/bootstrap.min.js')
        script(type='text/javascript').
            $('.carousel').carousel({
                interval: 2000
            });
            $('.dropdown-toggle').dropdown();
